@inherits ComponentBase
@using ShopProject.Client.ApiBrokers
@using ShopProject.Shared.Dtos.Products
@using ShopProject.Shared.ViewModels
@inject IProductApi ProductApi
@inject IHttpClientFactory ClientFactory
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager;


<div class="card">
    <div class="card-header text-center">
        Lista produktów
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                @foreach (var product in ViewModel.Products)
                {
                    <div class="col-12" style="max-height: 100px">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-3">
                                    <img src="https://localhost:6001/api/files/@product.Images.FirstOrDefault().Id" style="max-height: 100px"/>
                                </div>
                                <div class="col-3">
                                    <h4>@product.ProductName</h4>
                                    <p>@product.ProductDescription</p>
                                </div>
                                <div class="col-3">
                                    <h2>@product.ProductPrice</h2>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-primary" @onclick="() => RedirectToEditProduct(product.ProductId)">Edytuj</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@code {
    private EditableProductsListViewModel ViewModel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        ViewModel = await ProductApi.GetEditableProducts();
    }
    
    private void RedirectToEditProduct(Guid productId)
    {
        NavigationManager.NavigateTo($"/editproduct/{productId}");
    }
}