@using ShopProject.Client.Services
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Witaj, @context.User.Identity.Name!
        <button class="nav-lik btn btn-link" @onclick="BeginSignOut">Wyloguj</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Zaloguj</a>
        <a href="https://localhost:5001/Account/Register?ReturnUrl=https://localhost:7001">Rejestracja </a>
    </NotAuthorized>
</AuthorizeView>

@code {

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("/authentication/logout");
    }
}