@inherits ComponentBase

<div id="texte_a_afficher" class="texte_inselectionnable direction_ltr">
    <span class="stabilisation"></span>
    <p style="text-align: center;">
    <span style="font-size: 14px;">
        <strong>
            REGULAMIN SKLEPU INTERNETOWEGO
            <br/>
        </strong>
    </span>
        <strong>
            <span id="span_id_firma">Twoje Kody</span>
            <br/>
            <br/>
            <br/>
            <br/>
        </strong>
    </p>
    <p style="text-align: center;">
    <span style="font-size: 14px;">
        <strong>1. POSTANOWIENIA OGÓLNE</strong>
    </span>
    </p>
    <p style="text-align: left;">
    <span style="font-size: 14px;">
        <br/>
    </span>
        1. Sklep internetowy:
        <span id="span_id_firma">Twoje Kody</span>
        , działający pod&nbsp;adresem:
        <span id="span_id_adres_internetowy">www.twojekody.pl</span>
        , prowadzony jest przez:
        <span id="span_id_imie_nazwisko">Adam Ludwiczak, Weronika Pruska, Janusz Wdówka</span>
        , z&nbsp;siedzibą w/przy:
        <span id="span_id_adres_wlasciciela_sklepu">al. Politechniki</span>
        , działający pod&nbsp;numerem NIP:
        <span id="span_id_numer_nip1">82190839021</span>
        , REGON:
        <span id="span_id_numer_regon1">12332132</span>
        .
    </p>
    <p style="text-align: left;">
        2. Niniejszy Regulamin Sklepu internetowego określa zasady dokonywania zakupów w&nbsp;sklepie internetowym:
        <span id="span_id_firma">Twoje Kody</span>
        , a&nbsp;w szczególności zasady i&nbsp;tryb zawierania umów sprzedaży na odległość za pośrednictwem Sklepu, jak również tryb postępowania reklamacyjnego oraz tryb odstąpienia od umowy przez Konsumenta.
    </p>
    <p style="text-align: left;">
        3. W&nbsp;zakresie Usług świadczonych drogą elektroniczną niniejszy Regulamin jest regulaminem, o&nbsp;którym mowa w&nbsp;art. 9 ustawy o&nbsp;świadczeniu usług drogą elektroniczną z&nbsp;dnia 18 lipca 2002 r. (tj.
        <em>Dz.U. z&nbsp;2020 r. poz. 344</em>
        , ze&nbsp;zm.).
    </p>
    <p style="text-align: left;">4. Regulamin skierowany jest do wszystkich Klientów Sklepu. Wszyscy Klienci są obowiązani zapoznać się z&nbsp;postanowieniami Regulaminu, przed dokonaniem zakupu.</p>
    <p style="text-align: left;">5. Każdy Klient zobowiązany jest przestrzegać postanowienia Regulaminu. Sprzedaż odbywa się na podstawie wersji Regulaminu, obowiązującej w&nbsp;momencie złożenia zamówienia.</p>
    <p style="text-align: left;">
        6. Każdy Klient ma możliwość zapoznać się z&nbsp;Regulaminem w&nbsp;każdym czasie, klikając na stronie internetowej Sklepu:
        <span id="span_id_adres_internetowy">www.twojekody.pl</span>
        w&nbsp;hiperlink: „Regulamin Sklepu". Regulamin można w&nbsp;każdym czasie pobrać i&nbsp;wydrukować.
    </p>
    <p>
        7. Wszystkie informacje zawarte na stronie internetowej Sklepu:
        <span id="span_id_adres_internetowy">www.twojekody.pl</span>
        , odnoszące się do produktów (łącznie z&nbsp;cenami), nie stanowią oferty w&nbsp;rozumieniu art. 66 ustawy z&nbsp;dnia 23 kwietnia 1964 r. Kodeks Cywilny (t.j. Dz.U. z&nbsp;2023 r. poz. 1610, ze&nbsp;zm.), lecz zaproszenie do zawarcia umowy, w&nbsp;myśl art. 71 ustawy z&nbsp;dnia 23 kwietnia 1964 r. Kodeks Cywilny (tj. Dz.U. z&nbsp;2023 r. poz. 1610, ze&nbsp;zm.). Klient wysyłając Formularz Zamówienia składa ofertę kupna i&nbsp;dostawy wskazanego Towaru za cenę i&nbsp;na warunkach określonych w&nbsp;opisie.
    </p>
    <p style="text-align: center;">
        <strong>
            <br/>
            2. DEFINICJE
        </strong>
    </p>
    <p style="text-align: left;">
        <strong>
            <br/>
            Regulamin
        </strong>
        - niniejszy zbiór regulacji organizujących zasady korzystania z&nbsp;Usług Sklepu przez Klientów.
    </p>
    <p>
        <strong>Konsument </strong>
        -
        <span class="flou ">28285 28228225 25882552585 52282 25 2285252882822 528225, 28228852525 822228525282 2 222 5285858228885 22822555825 858 25825285.</span>
    </p>
    <p>
        <strong>Przedsiębiorca na prawach Konsumenta</strong>
        -
        <span class="flou ">28285 28228225 25882552585 52282 8288822255825 25 2285252882822 528225, 822228525282 28852525 2 222 5285858228885 22822555825, 252 2 252888 222 52282 822825, 22 282 2288555 225 585 222 28282 8555522255 2582528222, 822825258222 8 8282222822888 2 2522528225 82222285222 25222 285 528585822888 228225558222, 55282222822222 25 225825882 252228828 2 8222558222 588522828 8 5222525828 2 828585822888 228225558222. 885 82828 28282282222 8225852825 252222522 882, 22 8 55282 85525 522522282285 8825252285 58285 2552 225282228, 822585282 252288 882 2552822 52 52285222228, 252 222 252258828825828 25 2558585 5228522225.</span>
    </p>
    <p>
        <strong>Klient</strong>
        - osoba fizyczna (w tym Konsument), która ukończyła co najmniej 13 lat (pod warunkiem, że uzyskała zgodę przedstawiciela ustawowego), osoba prawna oraz jednostka organizacyjna niebędąca osobą prawną, której przepisy szczególne przyznają zdolność prawną, która korzysta z&nbsp;Usług świadczonych przez Sklep.
    </p>
    <p>
        <strong>Formularz Zamówienia </strong>
        - Usługa dostępna na stronie internetowej Sklepu, za pomocą której Klient może dokonać zakupu, w&nbsp;szczególności poprzez dodanie Towarów do Koszyka oraz określenie niektórych warunków Umowy Sprzedaży m.in. sposobu dostawy i&nbsp;płatności.
    </p>
    <p>
        <strong>Koszyk</strong>
        - element Sklepu, w&nbsp;którym widoczne są wybrane przez Klienta Towary oraz w&nbsp;którym Klient ma możliwość ustalenia i&nbsp;modyfikacji danych Zamówienia, w&nbsp;tym ilości nabywanych Produktów.
    </p>
    <p>
        <strong>Sklep</strong>
        - serwis internetowy, należący do Sprzedawcy, dostępny pod&nbsp;domeną:
        <span id="span_id_adres_internetowy">www.twojekody.pl</span>
        , za pośrednictwem którego Klient może zakupić od Sprzedawcy Towary.
    </p>
    <p>
        <strong>Sprzedawca</strong>
        -
        <span id="span_id_imie_nazwisko">Adam Ludwiczak, Weronika Pruska, Janusz Wdówka</span>
        , z&nbsp;siedzibą w/przy:
        <span id="span_id_adres_wlasciciela_sklepu">al. Politechniki</span>
        , wpisany do rejestru Centralnej Ewidencji i&nbsp;Informacji o&nbsp;Działalności Gospodarczej CEIDG pod&nbsp;nr:
        <span id="span_id_numer_ceidg2">987456</span>
        , NIP:
        <span id="span_id_numer_nip1">82190839021</span>
        który prowadząc działalność zarobkową lub&nbsp;zawodową proponuje sprzedaż za pomocą swojej strony internetowej.
    </p>
    <p>
        <strong>Towar </strong>
        - rzecz ruchoma, będąca przedmiotem obrotu pomiędzy Sklepem i&nbsp;Klientem, którego warunki sprzedaży określa Formularz Zamówienia.
    </p>
    <p>
        <strong>Towar z&nbsp;elementami cyfrowymi</strong>
        - towar zawierający treść cyfrową lub&nbsp;usługę cyfrową lub&nbsp;z nimi połączony w&nbsp;taki sposób, że brak treści cyfrowej lub&nbsp;usługi cyfrowej uniemożliwiłby jego prawidłowe funkcjonowanie.
    </p>
    <p>
        <strong>Produkt</strong>
        - każdy towar lub&nbsp;usługa, w&nbsp;tym nieruchomości, usługi cyfrowe i&nbsp;treści cyfrowe, a&nbsp;także prawa i&nbsp;obowiązki.
    </p>
    <p>
        <strong>Środowisko cyfrowe </strong>
        - sprzęt komputerowy, oprogramowanie i&nbsp;połączenia sieciowe, wykorzystywane przez Konsumenta w&nbsp;celu uzyskania dostępu do treści cyfrowej lub&nbsp;usługi cyfrowej lub&nbsp;w celu korzystania z&nbsp;nich.
    </p>
    <p>
        <strong>Integracja</strong>
        - połączenie treści cyfrowej lub&nbsp;usługi cyfrowej z&nbsp;elementami środowiska cyfrowego Konsumenta i&nbsp;włączenie ich do tych elementów w&nbsp;celu zapewnienia zgodności z&nbsp;Umową o&nbsp;dostarczanie treści cyfrowej lub&nbsp;usługi cyfrowej.
    </p>
    <p>
        <strong>Kompatybilność </strong>
        - współdziałanie treści cyfrowej, usługi cyfrowej, lub&nbsp;towaru ze&nbsp;sprzętem komputerowym lub&nbsp;oprogramowaniem, które są zazwyczaj używane do korzystania z&nbsp;treści cyfrowej, usługi cyfrowej, lub&nbsp;towaru tego samego rodzaju, bez konieczności ich przekształcania.
    </p>
    <p>
        <strong>Funkcjonalność </strong>
        - zdolność treści cyfrowej, usługi cyfrowej lub&nbsp;towaru do pełnienia swoich funkcji z&nbsp;uwzględnieniem ich przeznaczenia.
    </p>
    <p>
        <strong>Interoperacyjność</strong>
        - zdolność treści cyfrowej, usługi cyfrowej lub&nbsp;towaru do współdziałania ze&nbsp;sprzętem komputerowym lub&nbsp;oprogramowaniem innymi niż te&nbsp;zazwyczaj używane do korzystania z&nbsp;treści cyfrowej, usługi cyfrowej lub&nbsp;towaru tego samego rodzaju.
    </p>
    <p>
        <strong>Internetowa platforma handlowa</strong>
        - usługa korzystająca z&nbsp;oprogramowania, w&nbsp;tym ze&nbsp;strony internetowej, z&nbsp;części strony internetowej lub&nbsp;aplikacji, obsługiwanego przez przedsiębiorcę lub&nbsp;w jego imieniu, w&nbsp;ramach której umożliwia się Konsumentom zawieranie z&nbsp;innymi przedsiębiorcami umów na odległość lub&nbsp;osobom fizycznym, niebędącym przedsiębiorcami zawieranie umów na odległość z&nbsp;innymi osobami fizycznymi, niebędącymi przedsiębiorcami.
    </p>
    <p>
        <strong>Dostawca internetowej platformy handlowej </strong>
        - przedsiębiorca, który obsługuje internetową platformę handlową, dostarcza podmiotom internetową platformę handlową lub&nbsp;umożliwia korzystanie z&nbsp;tej platformy.
    </p>
    <p>
        <strong>Umowa </strong>
        - umowa sprzedaży Towarów na odległość, zawarta przez Klienta za pośrednictwem Sklepu, zwykle przez Formularz Zamówień.
    </p>
    <p style="text-align: center;">
        <strong>
            <br/>
            3. PRZYJMOWANIE I&nbsp;REALIZACJA ZAMÓWIEŃ
        </strong>
    </p>
    <p style="text-align: left;">
        <br/>
        1. Warunkiem korzystania ze&nbsp;Sklepu jest zapoznanie się z&nbsp;niniejszym Regulaminem i&nbsp;jego akceptacja. Składając zamówienie Klient akceptuje treść Regulaminu.
    </p>
    <p>2. Główne parametry, decydujące o&nbsp;plasowaniu ofert, przedstawionych Konsumentowi w&nbsp;wyniku wyszukiwania, przedstawiane również w&nbsp;bezpośrednim powiązaniu z&nbsp;daną ofertą, w&nbsp;widoczny sposób, są następujące:</p>
    <p style="padding-left: 30px;">
        <span id="span_id_plasowanie">Cena i&nbsp;filtry użytkownika</span>
    </p>
    <p>3. Sklep oznacza oferty sponsorowane oraz płatne reklamy. Informacje te&nbsp;są przedstawiane w&nbsp;bezpośrednim powiązaniu z&nbsp;danym wynikiem wyszukiwania, w&nbsp;widoczny sposób, który wyróżnia się z&nbsp;ogólnego interfejsu.</p>
    <p>4. Sprzedawca stosuje indywidualne dostosowanie cen proponowanych ofert, na podstawie zautomatyzowanego podejmowania decyzji.</p>
    <p>5. Podana w&nbsp;zamówieniu cena stanowi całkowitą wartość, jaką Klient zobowiązany jest zapłacić, zawierającą należny podatek (cena brutto). </p>
    <p>6. Jeżeli Konsument zobowiązany będzie do płatności wykraczającej poza uzgodnioną cenę, opisaną w&nbsp;ustępie poprzednim, Sklep niezwłocznie poinformuje Konsumenta o&nbsp;tym fakcie, wyjaśniając przyczynę różnicy ceny. Obciążenie Konsumenta dodatkowymi kosztami nastąpi wyłącznie po uzyskaniu wyraźnej zgody Konsumenta.</p>
    <p>7. Sprzedawca zastrzega sobie prawo zmiany cen, znajdujących się w&nbsp;Sklepie, wprowadzania nowych Produktów do sprzedaży, przeprowadzania i&nbsp;odwoływania akcji promocyjnych, bądź wprowadzania w&nbsp;nich zmian, zgodnie z&nbsp;obowiązującymi przepisami prawa.</p>
    <p>8. W&nbsp;razie wprowadzenia promocji, Sklep informuje Klientów o&nbsp;najniższej cenie Produktu z&nbsp;ostatnich 30 dni. Jeśli Produkt jest w&nbsp;sprzedaży krócej niż 30 dni, cena przed promocją to&nbsp;najniższa cena od momentu wprowadzenia Produktu do Sklepu. Informacje te&nbsp;są przedstawiane obok ceny promocyjnej Produktu.</p>
    <p>
        9. Zamówienia od Klientów są przyjmowane za pomocą wysłanego Formularza Zamówień, dokonanego za pośrednictwem strony:
        <span id="span_id_adres_internetowy">www.twojekody.pl</span>
        lub&nbsp;e-mailowo na adres:
        <span id="span_id_email">
        <span class="variable_vide">________</span>
    </span>
        , 7 dni w&nbsp;tygodniu, 24 godziny na dobę.
    </p>
    <p>10. Zamówienie Produktu realizuje się poprzez wybranie Towaru, którymi Klient jest zainteresowany, kliknięcie przycisku "DODAJ DO KOSZYKA", znajdującego się przy opisie Produktu, a&nbsp;następnie, z&nbsp;poziomu "KOSZYK", znajdującego się w&nbsp;zakładce Sklepu, wypełnienie Formularza Zamówienia, w&nbsp;tym wyboru formy dostawy i&nbsp;zapłaty bądź wyboru opcji zapłaty przy odbiorze, jeśli takowa jest dostępna dla wybranego Produktu, a&nbsp;następnie kliknięcie potwierdzenia zakupu. </p>
    <p>
        11. Przedsiębiorcy na prawach Konsumenta powinni
        <span class="flou ">252258228, 252 8 858888 828555285 2522882285 252552228</span>
        <span class="flou ">, 22 25252 282 25 585 2885 8555522255 2582528222.</span>
    </p>
    <p>12. Po złożeniu zamówienia Klient dostaje potwierdzenie złożonego zamówienia na swój adres e-mail, podany w&nbsp;Formularzu Zamówienia.</p>
    <p>13. Po otrzymaniu przez Klienta potwierdzenia przyjęcia oferty, rozpoczyna się proces realizacji zamówienia przez Sprzedawcę, przy czym:</p>
    <p style="padding-left: 30px;">a) w&nbsp;przypadku złożenia zamówienia płatnego przy odbiorze - rozpoczyna się maksymalnie następnego dnia roboczego, po jego potwierdzeniu przez Sprzedawcę.</p>
    <p style="padding-left: 30px;">b) w&nbsp;przypadku złożenia zamówienia płatnego przelewem tradycyjnym - rozpoczyna się po zaksięgowaniu wpłaty za złożone zamówienie, na koncie bankowym Sklepu.</p>
    <p>
        14. Zamówienia złożone w&nbsp;Sklepie są realizowane w&nbsp;godzinach pracy Sklepu (w dni robocze, od poniedziałku do piątku, w&nbsp;godzinach od:
        <span id="span_id_godz_pocz_dnia_roboczego">
        <span class="variable_vide">________</span>
    </span>
        , do:
        <span id="span_id_godz_konca_dnia_roboczego">
        <span class="variable_vide">________</span>
    </span>
        . Zamówienia złożone w&nbsp;dni robocze po godz.
        <span id="span_id_godz_konca_dnia_roboczego">
        <span class="variable_vide">________</span>
    </span>
        , w&nbsp;soboty, niedziele lub&nbsp;święta, będą rozpatrywane następnego dnia roboczego.
    </p>
    <p>15. Klient otrzyma wiadomość o&nbsp;przyjęciu zamówienia do realizacji, co jest rozumiane jako oświadczenie Sprzedawcy o&nbsp;przyjęciu oferty. Z&nbsp;chwilą jego otrzymania przez Klienta, zostaje zawarta Umowa sprzedaży.</p>
    <p>
        16. Do każdego zamówienia wystawiany jest paragon VAT. Na życzenie Klienta zostanie również wystawiona i&nbsp;wysłana Klientowi faktura VAT (art. 106b ust. 3 ustawy z&nbsp;dnia 11 marca 2004 r. o&nbsp;podatku od towarów i&nbsp;usług,
        <em>t.j. Dz.U. z&nbsp;2023 r. poz. 1570, ze&nbsp;zm</em>
        .).
    </p>
    <p>17. Dostępnymi środkami porozumiewania się Klienta ze&nbsp;Sklepem są:</p>
    <p style="padding-left: 30px;">
        a) E-mail -
        <span id="span_id_email">
        <span class="variable_vide">________</span>
    </span>
    </p>
    <p style="padding-left: 30px;">
        b) Telefon -
        <span id="span_id_tel_sklepu">123123123</span>
    </p>
    <p style="padding-left: 30px;">
        c) Adres korespondencyjny -
        <span id="span_id_adres_korespondencyjny_sklepu">Twoje Kody</span>
    </p>
    <p style="padding-left: 30px;">
        d) Adres w&nbsp;celu realizacji odstąpienia od Umowy:
        <span id="span_id_adres_zwrotu">al. Politechniki</span>
    </p>
    <p style="padding-left: 30px;">
        e) inny środek komunikacji online:
        <span id="span_id_inne">twojekody@gmail.com</span>
    </p>
    <p>18. Sprzedawca weryfikuje autentyczność recenzji, wystawionych przez Klientów, którzy zakupili Produkty w&nbsp;Sklepie, w&nbsp;następujący sposób:</p>
    <p style="padding-left: 30px;">
    <span id="span_id_jak_weryfikuje">
        <span class="variable_vide">________</span>
    </span>
    </p>
    <p>19. Sprzedawca nie zamieszcza fałszywych lub&nbsp;zniekształconych recenzji. Opublikowane recenzje są zarówno pozytywne, jak i&nbsp;negatywne.</p>
    <p style="text-align: center;">
        <strong>
            <br/>
            4. REALIZACJA PŁATNOŚCI
        </strong>
    </p>
    <p>
        <br/>
        1. W&nbsp;ramach funkcjonowania Sklepu możliwe są następujące sposoby płatności:
    </p>
    <p style="padding-left: 30px;">1) za pobraniem – przy odbiorze przesyłki;</p>
    <p style="padding-left: 30px;">2) przelewem;</p>
    <p>2. Szczegółowe zasady i&nbsp;warunki dokonywania płatności za pośrednictwem banków lub&nbsp;innych dostępnych serwisów określają właściwe regulaminy odpowiednich banków i&nbsp;serwisów.</p>
    <p>
        3. Klient, który wybrał opcję płatności przelewem, jest zobowiązany do uiszczenia opłaty za złożone zamówienie, w&nbsp;terminie do pięciu (5) dni roboczych, od daty złożenia zamówienia. W&nbsp;przeciwnym wypadku oferta Sprzedawcy nie jest wiążąca i&nbsp;zamówienie zostaje usunięte z&nbsp;systemu. W&nbsp;tytule płatności wystarczy podać tylko numer składanego zamówienia. Istnieje możliwość przedłużenia terminu zapłaty, przy uprzednim poinformowaniu o&nbsp;tym fakcie obsługę Sklepu:
        <span id="span_id_email">
        <span class="variable_vide">________</span>
    </span>
        (e-mail),
        <span id="span_id_tel_sklepu">123123123</span>
        (tel),
        <span id="span_id_adres_korespondencyjny_sklepu">Twoje Kody</span>
        (adres).
    </p>
    <p style="text-align: center;">
        <strong>
            <br/>
            5. REKLAMACJA
            <br/>
            <br/>
        </strong>
    </p>
    <p>
        1. Sprzedawca ponosi odpowiedzialność z&nbsp;tytułu niezgodności Produktu z&nbsp;Umową. Do umów zobowiązujących do przeniesienia własności Towaru na Konsumenta, w&nbsp;tym w&nbsp;szczególności umów sprzedaży, umów dostawy oraz umów o&nbsp;dzieło będące Towarem, nie stosuje się przepisów ustawy z&nbsp;dnia 23 kwietnia 1964 r. Kodeks Cywilny (
        <em>t.j. Dz.U. z&nbsp;2023 r. poz. 1610, ze&nbsp;zm.</em>
        ), dotyczących rękojmi za wady.
    </p>
    <p>2. Sprzedawca ponosi odpowiedzialność za brak zgodności z&nbsp;Umową Produktu, który to&nbsp;brak istnieje w&nbsp;chwili jego dostarczenia i&nbsp;jest ujawniony w&nbsp;ciągu dwóch (2) lat od tej chwili, chyba że termin przydatności Produktu do użycia, określony przez Sprzedawcę, jego poprzedników prawnych lub&nbsp;osoby, działające w&nbsp;ich imieniu, jest dłuższy. Domniemywa się, że brak zgodności Produktu z&nbsp;Umową, który ujawnił się przed upływem dwóch (2) lat od chwili dostarczenia Produktu, istniał w&nbsp;chwili jego dostarczenia, o&nbsp;ile nie zostanie udowodnione inaczej lub&nbsp;domniemania tego nie można pogodzić ze&nbsp;specyfiką Produktu lub&nbsp;charakterem braku zgodności Produktu z&nbsp;Umową.</p>
    <p>3. Jeżeli Produkt jest niezgodny z&nbsp;Umową, Konsument może żądać jego naprawy lub&nbsp;wymiany. Sprzedawca może dokonać wymiany, gdy Konsument żąda naprawy, lub&nbsp;Sprzedawca może dokonać naprawy, gdy Konsument żąda wymiany, jeżeli doprowadzenie do zgodności Produktu z&nbsp;Umową, w&nbsp;sposób wybrany przez Konsumenta, jest niemożliwe albo wymagałoby nadmiernych kosztów dla Sprzedawcy. Jeżeli naprawa i&nbsp;wymiana są niemożliwe lub&nbsp;wymagałyby nadmiernych kosztów dla Sprzedawcy, może on odmówić doprowadzenia Produktu do zgodności z&nbsp;Umową.</p>
    <p>4. Sprzedawca dokonuje naprawy lub&nbsp;wymiany w&nbsp;rozsądnym czasie od chwili, w&nbsp;której Konsument poinformował go o&nbsp;braku zgodności z&nbsp;Umową, i&nbsp;bez nadmiernych niedogodności dla Konsumenta, uwzględniając specyfikę Produktu oraz cel, w&nbsp;jakim Konsument go nabył. Koszty naprawy lub&nbsp;wymiany, w&nbsp;tym w&nbsp;szczególności koszty opłat pocztowych, przewozu, robocizny i&nbsp;materiałów, ponosi Sprzedawca. W&nbsp;tym celu Konsument udostępni Sprzedawcy Produkt, podlegający naprawie lub&nbsp;wymianie. Sprzedawca odbiera od Konsumenta Produkt na swój koszt. Jeżeli Produkt został zamontowany przed ujawnieniem się braku zgodności Produktu z&nbsp;Umową, Sprzedawca demontuje Produkt oraz montuje go ponownie, po dokonaniu naprawy lub&nbsp;wymiany albo zleca wykonanie tych czynności na swój koszt.</p>
    <p>5. Jeżeli Produkt jest niezgodny z&nbsp;Umową, Konsument może złożyć oświadczenie o&nbsp;obniżeniu ceny albo odstąpieniu od Umowy, gdy:</p>
    <p style="padding-left: 30px;">a) Sprzedawca odmówił doprowadzenia Produktu do zgodności z&nbsp;Umową;</p>
    <p style="padding-left: 30px;">b) Sprzedawca nie doprowadził Produktu do zgodności z&nbsp;Umową;</p>
    <p style="padding-left: 30px;">c) brak zgodności Produktu z&nbsp;Umową występuje nadal, mimo że Sprzedawca próbował doprowadzić Produkt do zgodności z&nbsp;Umową;</p>
    <p style="padding-left: 30px;">d) brak zgodności Produktu z&nbsp;Umową jest na tyle istotny, że uzasadnia obniżenie ceny albo odstąpienie od Umowy, bez uprzedniego żądania jego naprawy albo wymiany;</p>
    <p style="padding-left: 30px;">e) z&nbsp;oświadczenia Sprzedawcy lub&nbsp;okoliczności wyraźnie wynika, że nie doprowadzi on Produktu do zgodności z&nbsp;Umową w&nbsp;rozsądnym czasie lub&nbsp;bez nadmiernych niedogodności dla Konsumenta.</p>
    <p>6. Obniżona cena musi pozostawać w&nbsp;takiej proporcji do ceny wynikającej z&nbsp;Umowy, w&nbsp;jakiej wartość Produktu niezgodnego z&nbsp;Umową pozostaje do wartości produktu zgodnego z&nbsp;Umową. Sprzedawca zwraca Konsumentowi kwoty należne wskutek skorzystania z&nbsp;prawa obniżenia ceny, niezwłocznie, nie później niż w&nbsp;terminie czternastu (14) dni, od dnia otrzymania oświadczenia Konsumenta o&nbsp;obniżeniu ceny.</p>
    <p>7. Konsument nie może odstąpić od Umowy, jeżeli brak zgodności Produktu z&nbsp;Umową jest nieistotny. Domniemywa się, że brak zgodności Produktu z&nbsp;Umową jest istotny.</p>
    <p>8. W&nbsp;razie odstąpienia od Umowy Konsument niezwłocznie zwraca Produkt Sprzedawcy na jego koszt. Sprzedawca zwraca Konsumentowi cenę niezwłocznie, nie później niż w&nbsp;terminie czternastu (14) dni od dnia otrzymania Produktu lub&nbsp;dowodu jego odesłania, przy użyciu takiego samego sposobu zapłaty, jakim posłużył się Konsument, chyba że Konsument wyraźnie zgodził się na inny sposób zwrotu, który nie wiąże się dla niego z&nbsp;żadnymi kosztami.</p>
    <p>9. Reklamacje dotyczące Produktów, mogą być zgłaszane:</p>
    <p style="padding-left: 30px;">
        a) na piśmie, na adres siedziby Sprzedawcy:
        <span id="span_id_adres_korespondencyjny_sklepu">Twoje Kody</span>
        ;
    </p>
    <p style="padding-left: 30px;">
        b) pocztą elektroniczną, na adres e-mail:
        <span id="span_id_email">
        <span class="variable_vide">________</span>
    </span>
        .
    </p>
    <p>10. Reklamacja powinna zawierać:</p>
    <p style="padding-left: 30px;">a) dane osoby składającej reklamację (imię i&nbsp;nazwisko, adres korespondencyjny, adres e-mail i&nbsp;numer telefonu kontaktowego);</p>
    <p style="padding-left: 30px;">b) wskazanie przyczyny reklamacji oraz treści żądania;</p>
    <p style="padding-left: 30px;">c) numer Zamówienia, widniejący w&nbsp;potwierdzeniu przyjęcia Zamówienia;</p>
    <p style="padding-left: 30px;">d) oryginał lub&nbsp;kopia dowodu zakupu (np. paragonu lub&nbsp;faktury) może ułatwić złożenie reklamacji, ale nie jest niezbędny do jej złożenia.</p>
    <p>11. Powyższe przepisy nie wyłączają możliwości udzielenia przez Sprzedawcę gwarancji na zakupione Produkty, co przewiduje osobny regulamin gwarancyjny.</p>
    <p style="text-align: center;">
        <strong>
            <br/>
            6. PRAWO ODSTĄPIENIA
        </strong>
    </p>
    <p>
        <br/>
        1. Zgodnie z&nbsp;ustawą z&nbsp;dnia 30 maja 2014 r. o&nbsp;prawach konsumenta (tj.
        <em>Dz.U. z&nbsp;2020 r. poz. 287</em>
        , ze&nbsp;zm.), Konsument może odstąpić od Umowy dotyczącej Produktów, zakupionych w&nbsp;Sklepie, bez podania przyczyny, składając stosowne oświadczenie na piśmie, w&nbsp;terminie czternastu (14) dni, licząc od dnia wydania Towaru (tj. od dnia odebrania Towaru przez Konsumenta). Termin ten uważa się za zachowany, jeśli Konsument wyśle oświadczenia, przed jego upływem.
    </p>
    <p>2. Konsument może odstąpić od Umowy, składając Sprzedawcy oświadczenie o&nbsp;odstąpieniu od Umowy. Wzór oświadczenia stanowi załącznik nr&nbsp;1 do niniejszego Regulaminu.</p>
    <p>
        3. Oświadczenie o&nbsp;odstąpieniu od Umowy należy wysłać na adres:
        <span id="span_id_adres_korespondencyjny_sklepu">Twoje Kody</span>
        .
    </p>
    <p>4. Konsument zwróci Sprzedawcy Towar w&nbsp;terminie czternastu (14) dni od dnia, w&nbsp;którym odstąpił od Umowy. Do zachowania terminu wystarczy odesłanie Towaru przed jego upływem.</p>
    <p>5. Konsument ponosi tylko bezpośrednie koszty zwrotu Towaru.</p>
    <p>
        6. Zwrotu Towaru należy dokonać na adres Sprzedawcy:
        <span id="span_id_adres_zwrotu">al. Politechniki</span>
        .
    </p>
    <p>7. Sprzedawca, w&nbsp;terminie czternastu (14) dni, od dnia otrzymania oświadczenia o&nbsp;odstąpieniu od Umowy, zwróci Konsumentowi wszystkie dokonane przez niego płatności, w&nbsp;tym koszt dostarczenia Towaru, przy czym zwrot płatności nie nastąpi do chwili otrzymania Towaru z&nbsp;powrotem lub&nbsp;dostarczenia przez Konsumenta dowodu jego odesłania.</p>
    <p>8. Jeżeli Konsument wybrał sposób dostarczenia Towaru inny niż najtańszy sposób dostarczenia, oferowany przez Sprzedawcę, Sprzedawca nie jest zobowiązany do zwrotu Konsumentowi poniesionych przez niego dodatkowych kosztów.</p>
    <p>9. Sprzedawca dokona zwrotu płatności przy użyciu takiego samego sposobu zapłaty, jakiego użył Konsument.</p>
    <p>10. Konsument ponosi odpowiedzialność za zmniejszenie wartości Produktu, będące wynikiem korzystania z&nbsp;niego w&nbsp;sposób wykraczający poza konieczny do stwierdzenia charakteru, cech i&nbsp;funkcjonowania Produktu.</p>
    <p>11. Prawo odstąpienia od Umowy Sprzedaży nie przysługuje Konsumentowi w&nbsp;odniesieniu do Umowy:</p>
    <p style="padding-left: 30px;">a) w&nbsp;której przedmiotem świadczenia jest Towar nieprefabrykowany, wyprodukowany według specyfikacji Konsumenta lub&nbsp;służący zaspokojeniu jego zindywidualizowanych potrzeb;</p>
    <p style="padding-left: 30px;">b) w&nbsp;której przedmiotem świadczenia jest Towar, ulegający szybkiemu zepsuciu lub&nbsp;mający krótki termin przydatności do użycia;</p>
    <p style="padding-left: 30px;">c) w&nbsp;której przedmiotem świadczenia są napoje alkoholowe, których cena została uzgodniona przy zawarciu Umowy, a&nbsp;których dostarczenie może nastąpić dopiero po upływie 30 dni i&nbsp;których wartość zależy od wahań na rynku, nad którymi Sprzedawca nie ma kontroli;</p>
    <p style="padding-left: 30px;">d) w&nbsp;której przedmiotem świadczenia jest Towar dostarczany w&nbsp;zapieczętowanym opakowaniu, którego po otwarciu opakowania nie można zwrócić ze&nbsp;względu na ochronę zdrowia lub&nbsp;ze względów higienicznych, jeżeli opakowanie zostało otwarte po dostarczeniu;</p>
    <p style="padding-left: 30px;">e) w&nbsp;której przedmiotem świadczenia są Towary, które po dostarczeniu, ze&nbsp;względu na swój charakter, zostają nierozłącznie połączone z&nbsp;innymi towarami;</p>
    <p style="padding-left: 30px;">f) w&nbsp;której przedmiotem świadczenia są nagrania dźwiękowe lub&nbsp;wizualne albo programy komputerowe, dostarczane w&nbsp;zapieczętowanym opakowaniu, jeżeli opakowanie zostało otwarte po dostarczeniu;</p>
    <p style="padding-left: 30px;">g) o&nbsp;dostarczanie dzienników, periodyków lub&nbsp;czasopism, z&nbsp;wyjątkiem umowy o&nbsp;prenumeratę;</p>
    <p style="padding-left: 30px;">h) w&nbsp;której cena lub&nbsp;wynagrodzenie zależy od wahań na rynku finansowym, nad którymi Sprzedawca nie sprawuje kontroli, i&nbsp;które mogą wystąpić przed upływem terminu do odstąpienia od Umowy;</p>
    <p style="padding-left: 30px;">i) o&nbsp;dostarczanie Towarów z&nbsp;elementami cyfrowymi, usług cyfrowych lub&nbsp;treści cyfrowych, niedostarczanych na nośniku materialnym, za które Konsument jest zobowiązany do zapłaty ceny, jeżeli Sprzedawca rozpoczął świadczenie za wyraźną i&nbsp;uprzednią zgodą Konsumenta, który został poinformowany przed rozpoczęciem świadczenia, że po spełnieniu świadczenia przez Sprzedawcę utraci prawo do odstąpienia od Umowy, i&nbsp;przyjął to&nbsp;do wiadomości, a&nbsp;Sprzedawca przekazał mu potwierdzenie;</p>
    <p style="padding-left: 30px;">j) zawartej w&nbsp;drodze aukcji publicznej;</p>
    <p style="padding-left: 30px;">k) o&nbsp;świadczenie usług w&nbsp;zakresie zakwaterowania, innych niż do celów mieszkalnych, przewozu towarów, najmu samochodów, gastronomii, usług związanych z&nbsp;wypoczynkiem, wydarzeniami rozrywkowymi, sportowymi lub&nbsp;kulturalnymi, jeżeli w&nbsp;Umowie oznaczono dzień lub&nbsp;okres świadczenia usługi;</p>
    <p style="padding-left: 30px;">l) w&nbsp;której Konsument wyraźnie żądał, aby Sprzedawca do niego przyjechał w&nbsp;celu dokonania pilnej naprawy lub&nbsp;konserwacji; jeżeli Sprzedawca świadczy dodatkowo inne usługi, niż te, których wykonania Konsument żądał, lub&nbsp;dostarcza towary inne, niż części zamienne, niezbędne do wykonania naprawy lub&nbsp;konserwacji - prawo odstąpienia od Umowy przysługuje Konsumentowi w&nbsp;odniesieniu do dodatkowych Usług lub&nbsp;Towarów;</p>
    <p style="padding-left: 30px;">m) o&nbsp;świadczenie usług, za które Konsument jest zobowiązany do zapłaty ceny, w&nbsp;przypadku, w&nbsp;którym Konsument wyraźnie zażądął od Sprzedawcy, aby przyjechał do niego w&nbsp;celu dokonania naprawy, a&nbsp;usługa została już w&nbsp;pełni wykonana za wyraźną i&nbsp;uprzednią zgodą Konsumenta.</p>
    <p>12. Prawo odstąpienia od Umowy zawartej na odległość przysługuje Konsumentom oraz Przedsiębiorcom na prawach Konsumenta.</p>
    <p style="text-align: center;">
        <strong>
            <br/>
            7. POZASĄDOWE ROZWIĄZYWANIE SPORÓW
        </strong>
    </p>
    <p style="text-align: left;">
        <br/>
        1. W&nbsp;przypadku, gdy postępowanie reklamacyjne nie przyniesie oczekiwanego przez Konsumenta rezultatu, Konsument może skorzystać m.in. z:
    </p>
    <ul>
        <li>Mediacji prowadzonej przez właściwy terenowo Wojewódzki Inspektorat Inspekcji Handlowej, do którego należy się zwrócić z&nbsp;wnioskiem o&nbsp;mediację. Co do zasady postępowanie jest bezpłatne. Wykaz Inspektoratów znajduje się pod&nbsp;adresem: https://www.uokik.gov.pl/wazne_adresy.php#faq595.</li>
        <li>Pomocy właściwego terenowo stałego polubownego sądu konsumenckiego, działającego przy Wojewódzkim Inspektoracie Inspekcji Handlowej, do którego należy złożyć wniosek o&nbsp;rozpatrzenie sprawy przed sądem polubownym. Co do zasady postępowanie jest bezpłatne. Wykaz sądów dostępny jest pod&nbsp;adresem: https://www.uokik.gov.pl/wazne_adresy.php#faq596.</li>
        <li>Bezpłatnej pomocy miejskiego lub&nbsp;powiatowego rzecznika konsumentów.</li>
        <li>Internetowej platformy ODR, dostępnej pod&nbsp;adresem: http://ec.europa.eu/consumers/odr/.</li>
    </ul>
    <p>2. Niniejszy rozdział zatytułowany „Pozasądowe rozwiązywanie sporów" nie znajduje zastosowania wobec Przedsiębiorców na prawach Konsumenta.</p>
    <p style="text-align: center;">
        <strong>
            <br/>
            8.
            <span class="flou ">8888888 888888 858882888</span>
        </strong>
    </p>
    <p>
        <br/>
        <span class="flou ">
        <span id="span_id_2">
            <span class="variable_vide">________</span>
        </span>
        . 588222, 828555258 2522882285, 825525 22252 25 2522285525282, 22552285 25222 28222, 552285 282828285, 8 8285 5258825828 8 2888528 2522882285, 25222 5252255882, 22252 2282 225228228282 552828825522522 552285 282828285, 8 5225282285 552. 8 82222525522285 2558522225 5552222828222 8 8552 (55) 5825/588 2 5285 58 28822285 5825 5. 8 8255882 2855222 2828 2822822285 8 2885225 2 25222855252822 552285 282828285 8 8 8255882 8828252222 252228285 252885 552285 2552 585282285 525222282 82/25/25 (222822 52222525522282 2 28552282 552285), 82.552.55 2 228, 2 2525 5825, 825. 2–22.
    </span>
    </p>
    <p>
    <span class="flou ">
        <span id="span_id_2">
            <span class="variable_vide">________</span>
        </span>
        . 852828825522522 552285 282828285, 252225252285 25222 5882225, 2258258 22522825285 22 528225, 2282 5252255885.
    </span>
    </p>
    <p>
    <span class="flou ">
        <span id="span_id_2">
            <span class="variable_vide">________</span>
        </span>
        . 8522 2828282, 2252552582 882 8 85282 552285 5252255882, 282 85 252225228522 225282222, 22252 282 58228228825 8 5258825828 52282.
    </span>
    </p>
    <p>
    <span class="flou ">
        <span id="span_id_2">
            <span class="variable_vide">________</span>
        </span>
        . 588222 2225282, 2 552. 22 82222525522285 2558522225 5552222828222 8 8552 (55) 5825/588 2 5285 58 28822285 5825 5. 8 8255882 2855222 2828 2822822285 8 2885225 2 25222855252822 552285 282828285 8 8 8255882 8828252222 252228285 252885 552285 2552 585282285 525222282 82/25/25 (222822 52222525522282 2 28552282 552285), 82.552.55 2 228, 2 2525 5825, 825. 2–22 25 25582 5282225 52 882885 552285 282828285, 2222 25558 885 22255882285 858 585282885. 5252255885 25228285 2525225 588222288 25582 22225288 25222855252285 552285 282828285.
    </span>
    </p>
    <p>
    <span class="flou ">
        <span id="span_id_2">
            <span class="variable_vide">________</span>
        </span>
        . 2255282 552285 282828285 2282 5285282822, 22525222 8552 22252 25 2522285525282 552285 282828285 528222288885 2525882285282 2522882285 5882225.
    </span>
    </p>
    <p>
    <span class="flou ">
        <span id="span_id_2">
            <span class="variable_vide">________</span>
        </span>
        . 52822228282 8222525822 8 25252882 552285 282828285 8 2855222 25285222888 2282582 2585522 8 25285582 „22882225 25285222888" 25 8252282 528225.
    </span>
    </p>
    <p style="text-align: center;">
        <strong>
            <br/>
            9. POSTANOWIENIA KOŃCOWE
            <br/>
            <br/>
        </strong>
    </p>
    <p>1. Regulamin określa zasady zawierania i&nbsp;wykonywania Umowy sprzedaży Produktów, znajdujących się na stronie Sklepu.</p>
    <p>2. Umowa sprzedaży zawierana jest między Klientem a&nbsp;Sprzedawcą.</p>
    <p>
        3. Regulamin dostępny jest dla wszystkich Klientów w&nbsp;wersji elektronicznej na stronie internetowej Sklepu:
        <span id="span_id_adres_internetowy">www.twojekody.pl</span>
        , w&nbsp;zakładce: „Regulamin Sklepu".
    </p>
    <p>4. Aby móc korzystać z&nbsp;Usług Sklepu, niezbędne jest posiadanie urządzeń pozwalających na dostęp do internetu oraz przeglądarki internetowej, umożliwiającej wyświetlanie stron www, jak również podanie adresu e-mail, umożliwiającego przesłanie informacji, dotyczących realizacji zamówienia.</p>
    <p>5. Zakazuje się wszystkim osobom, w&nbsp;tym Klientom, zamieszczania na stronie Sklepu treści bezprawnych.</p>
    <p>6. W&nbsp;sprawach nieuregulowanych niniejszym Regulaminem stosuje się odpowiednie przepisy powszechnie obowiązującego prawa.</p>
    <p>7. Regulamin nie wyłącza oraz nie ogranicza żadnych uprawnień Klienta, będącego Konsumentem, które przysługują mu na mocy bezwzględnie obowiązujących przepisów prawa. W&nbsp;przypadku sprzeczności pomiędzy postanowieniami Regulaminu a&nbsp;bezwzględnie obowiązującymi przepisami prawa, przyznającymi konsumentom uprawnienia, pierwszeństwo mają przepisy prawa.</p>
    <p>
        8. Postanowienia Regulaminu mniej korzystne dla Konsumenta, niż postanowienia ustawy z&nbsp;dnia 30 maja 2014 r. o&nbsp;prawach konsumentów (
        <em>t.j. Dz. U. z&nbsp;2020 r. poz. 287, ze&nbsp;zm.</em>
        ) są nieważne, a&nbsp;w ich miejsce stosuje się przepisy ustawy.
    </p>
    <p>9. W&nbsp;razie gdyby którekolwiek z&nbsp;postanowień niniejszego Regulaminu było lub&nbsp;miało stać się nieważne lub&nbsp;bezskuteczne, ważność całego Regulaminu w&nbsp;pozostałej części zostaje nienaruszona. W&nbsp;takim przypadku Strony zastąpią nieważne lub&nbsp;bezskuteczne postanowienie innym, które możliwie najwierniej oddaje zamierzony cel gospodarczy. Odpowiednio dotyczy to&nbsp;także ewentualnych luk w&nbsp;Regulaminie.</p>
    <p>
        <br/>
        <br/>
        Załącznik 1: Formularz odstąpienia od zawartej Umowy
        <span class="flou ">
        25222
        <em>Konsumenta</em>
        2552
        <em>Przedsiębiorcę 25 2558585 Konsumenta</em>
    </span>
    </p>
    <p style="text-align: right;">
        <br/>
        Miasto/Wieś: ___________, dnia: __________ r.
    </p>
    <p>Konsument/Przedsiębiorca na prawach Konsumenta:</p>
    <p>Imię i&nbsp;nazwisko: ________________</p>
    <p>Adres: ________________</p>
    <p>E-mail: ________________</p>
    <p>Tel: ________________</p>
    <p style="text-align: right;">Przedsiębiorca:</p>
    <p style="text-align: right;">
        Nazwa:
        <span id="span_id_firma">Twoje Kody</span>
    </p>
    <p style="text-align: right;">
        Adres:
        <span id="span_id_adres_zwrotu">al. Politechniki</span>
    </p>
    <p>
        <br/>
        <br/>
    </p>
    <p style="text-align: center;">
        <strong>FORMULARZ ODSTĄPIENIA OD UMOWY PRZEZ KONSUMENTA</strong>
        <strong>LUB PRZEDSIĘBIORCĘ NA PRAWACH KONSUMENTA</strong>
        <br/>
        <br/>
        <br/>
    </p>
    <p>
        Niniejszym, działając na podstawie art. 27 ustawy z&nbsp;dnia 30 maja 2014 r. o&nbsp;prawach konsumenta (tj.
        <em>Dz.U. z&nbsp;2020 r. poz. 287, ze&nbsp;zm.</em>
        ), w&nbsp;brzmieniu:
        <br/>
        <br/>
    </p>
    <p style="padding-left: 30px;">
    <span style="text-decoration: underline;">
        <strong>Art. 27 ustawy o&nbsp;prawach konsumenta</strong>
    </span>
    </p>
    <p style="padding-left: 30px;">
        <em>Konsument, który zawarł umowę na odległość lub&nbsp;poza lokalem przedsiębiorstwa, może w&nbsp;terminie 14 dni odstąpić od niej bez podawania przyczyny i&nbsp;bez ponoszenia kosztów, z&nbsp;wyjątkiem kosztów określonych w&nbsp;art. 33, art. 34 ust. 2 i&nbsp;art. 35.</em>
        <br/>
        <br/>
    </p>
    <p>informuję o&nbsp;odstąpieniu od umowy, zawartej dnia _______________ r., polegającej na:</p>

    <p>__________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
    <p>
        <br/>
        __________________________________________________________________________________________________________________________________________________________________________________________________________________
    </p>

    <p>
        <br/>
        W związku z&nbsp;powyższym, uprzejmie proszę o&nbsp;zwrot następującej kwoty pieniężnej, wynikającej z&nbsp;odstąpienia od umowy: _______________ zł (słownie: _____________________________________________), którą należy przelać na następujący numer rachunku bankowego: _________________________.
        <br/>
        <br/>
    </p>
    <p style="text-align: center;">
        <strong>
            Pouczenie:
            <br/>
            <br/>
        </strong>
    </p>
    <p>Konsument, jak również Przedsiębiorca na prawach Konsumenta, ma prawo odstąpić od Umowy w&nbsp;terminie 14 dni, bez podania jakiejkolwiek przyczyny, a&nbsp;w przypadku Umowy zawartej podczas nieumówionej wizyty w&nbsp;miejscu zamieszkania lub&nbsp;zwykłego pobytu Konsumenta albo wycieczki - w&nbsp;terminie 30 dni. Termin do odstąpienia od Umowy wygasa po upływie 14 dni od dnia zawarcia Umowy lub&nbsp;w którym Konsument wszedł w&nbsp;posiadanie rzeczy/partii rzeczy lub&nbsp;części lub&nbsp;w którym osoba trzecia, inna niż przewoźnik i&nbsp;wskazana przez Konsumenta, weszła w&nbsp;posiadanie rzeczy/partii lub&nbsp;części, a&nbsp;w przypadku Umowy zawartej podczas nieumówionej wizyty w&nbsp;miejscu zamieszkania lub&nbsp;zwykłego pobytu Konsumenta albo wycieczki - po upływie 30 dni od dnia wejścia w&nbsp;posiadanie tej rzeczy/partii rzeczy.</p>
    <p>
        Aby skorzystać z&nbsp;prawa odstąpienia od Umowy, Konsument musi poinformować Sprzedawcę, tj.
        <span id="span_id_firma">Twoje Kody</span>
        , pod&nbsp;adresem:
        <span id="span_id_adres_zwrotu">al. Politechniki</span>
        , na adres e-mail:
        <span id="span_id_email">
        <span class="variable_vide">________</span>
    </span>
        , o&nbsp;swojej decyzji o&nbsp;odstąpieniu od Umowy w&nbsp;drodze jednoznacznego oświadczenia, wysłanego pocztą tradycyjną lub&nbsp;pocztą elektroniczną. Konsument może skorzystać ze&nbsp;wzoru formularza odstąpienia od Umowy, dołączonego do niniejszego Regulaminu, co nie jest obowiązkowe. Termin uważa się za zachowany, gdy Konsument wysłał informację, dotyczącą wykonania przysługującego prawa odstąpienia od Umowy, przed upływem terminu do odstąpienia od Umowy. Konsument powinien odesłać lub&nbsp;przekazać Produkt Sprzedawcy, na adres:
        <span id="span_id_adres_zwrotu">al. Politechniki</span>
        , niezwłocznie, a&nbsp;w każdym razie nie później niż 14 dni od dnia, w&nbsp;którym poinformował Sprzedawcę o&nbsp;odstąpieniu od Umowy. Termin ten uważa się za zachowany, jeżeli Konsument odesłał Sprzedawcy Produkt, przed upływem terminu 14 dni.
    </p>
    <p>W przypadku odstąpienia od Umowy Sprzedawca zwraca Konsumentowi wszystkie otrzymane od Konsumenta płatności, w&nbsp;tym koszty dostarczenia Produktu (z wyjątkiem dodatkowych kosztów, wynikających z&nbsp;wybranego przez Konsumenta sposobu dostarczenia innego, niż najtańszy i&nbsp;zwykły sposób dostarczenia, oferowany przez Sprzedawcę), niezwłocznie, a&nbsp;w każdym przypadku nie później niż 14 dni od dnia, w&nbsp;którym Sprzedawca został poinformowany o&nbsp;chęci skorzystania z&nbsp;prawa odstąpienia od Umowy. Sprzedawca może wstrzymać się ze&nbsp;zwrotem płatności do czasu otrzymania Produktu lub&nbsp;do czasu dostarczenia przez Konsumenta dowodu jego odesłania, w&nbsp;zależności od tego, które zdarzenie nastąpi wcześniej. Sprzedawca dokona zwrotu płatności przy użyciu tego samego sposobu płatności, który został użyty przez Konsumenta w&nbsp;pierwotnej transakcji, chyba że Konsument wyraźnie wyraził zgodę na inne rozwiązanie - w&nbsp;każdym przypadku Konsument nie poniesie żadnych opłat w&nbsp;związku z&nbsp;tym zwrotem.</p>
    <p>
        <br/>
        <br/>
        <br/>
    </p>
    <p style="text-align: right;">
        <em>Z wyrazami szacunku</em>
    </p>
    <p style="text-align: right;">
        <br/>
        <br/>
    </p>
    <p style="text-align: right;">
        __________________
        <br/>
        <em>
            (własnoręczny podpis
            <span class="flou ">5228522225/25225882882582 25 2558585 5228522225</span>
            )
        </em>
    </p>
</div>

@code {

}