@page "/createproduct"
@using ShopProject.Client.Components

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center">
                    Lista produktów
                </div>
                <div class="card-body">
                    <ProductListTab/>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center">
                    Dodaj produkt
                </div>
                <div class="card-body">
                    <CreateProductTab/>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}