@page "/orders"
@using ShopProject.Client.Components

<AuthorizeView>
    <Authorized>
        <OrdersList />
    </Authorized>
    <NotAuthorized>
        <p>Nie jesteś zalogowany lub nie masz uprawnień do tej strony!</p>
    </NotAuthorized>
</AuthorizeView>

@code {

}