@page "/productsManager"
@using ShopProject.Client.Components

<AuthorizeView Policy="Admin">
    <Authorized>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-2">
                    <ProductListTab/>
                </div>
                <div class="col-lg-6 col-sm-12 mb-2">
                    <CreateProductTab/>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        Not authorized!
    </NotAuthorized>
</AuthorizeView>


@code {
}