@page "/productsManager"
@using ShopProject.Client.Components

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12 mb-2">
            <ProductListTab/>
        </div>
        <div class="col-lg-6 col-sm-12 mb-2">
            <CreateProductTab/>
        </div>
    </div>
</div>

@code {

}